.title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: var(--grey80);
  margin: 8vh 0 4.5vh;
}

.title span {
  font-weight: 700;
  color: var(--main_text);
  font-size: 22px;
}
