.wrapper {
  width: 95%;
  margin: auto;
}
.mypage_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  box-sizing: border-box;
}

.mypage_top > div {
  cursor: pointer;
  box-shadow: 0 0 7px var(--grey60);
  height: 100px;
}

.bookmark {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 15px;
}
.bookmark > p {
  font-size: 15px;
}

.bookmark_text {
  text-align: center;
  margin-bottom: 10px;
}
.bookmark > img {
  width: 25px;
  height: 25px;
}
.hate {
  display: flex;
  width: 60%;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
}
.hate_top {
  margin-bottom: 10px;
}
.hate_text {
  font-weight: bold;
}
.hate_button {
  border: none;
  background-color: transparent;
  margin-left: 5px;
}
.hate_button_img {
  width: 12px;
  height: 12px;
}

.hate_food {
  font-size: 12px;
}

.my_list {
  list-style: none;
}

.my_list li {
  margin: 15px 0;
}
