.wrapper {
  width: 95%;
  margin: 2vh auto;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 500px;
  box-shadow: 0px 0px 10px var(--grey60);
  border-radius: 15px;
}

.recipe_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem 1.25rem;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  margin: 4vh auto;
}
.recipe_main_title {
  display: flex;
  align-items: center;
  margin: 24px 0 9px;
}

.recipe_main_title h1 {
  font-size: 18px;
  margin-right: 12px;
  font-weight: 700;
}

.recipe_main_title a {
  font-size: 12px;
  color: var(--grey80);
}

.recipe_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px 18px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
