/* * Refrigerator.js * */
.ingredient_box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(56px, 1fr));
  grid-gap: 35px 50px;
  place-items: center;
  padding: 0 12px;
}

.wrapper {
  padding: 2vh;
  position: relative;
}

.category {
  margin: 0 1px;
}

.ingredient_add_button {
  position: fixed;
  right: calc((100% - 600px) / 2 + 30px);
  bottom: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 600px) {
    right: 30px;
  }
}

.ingredient_add_button > p {
  font-size: 13px;
  margin: 0;
  font-weight: 700;
  color: var(--grey80);
}

.ingredient_options {
  display: flex;
  position: fixed;
  bottom: 98px;
  width: calc(600px - 4vh);
  padding: 20px 0 20px 30px;
  background-color: white;
  box-shadow: 0 4px 13px var(--grey40);
  border-radius: 10px;

  @media (max-width: 600px) {
    width: calc(100% - 4vh);
  }
}

.options_box {
  width: 280px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options_box > p {
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}

.options_box p span {
  color: var(--main_text);
}

.options_box div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.options_buttons button {
  background-color: transparent;
  border: 0;
  color: var(--main_text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}

.ingredient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 20%;
}

.ingredient_img_box {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
.ingredient_img_box img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: var(--grey40) 0 0 5px 1px;
}

.ingredient p {
  font-size: 13px;
  margin: 0;
}

/** RefrigeratorAdd.js **/
.refrigerator_add {
  width: 90%;
  margin: auto;
  padding: 2vh 0 6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.add_title {
  padding: 30px 0;
}
.select_ingredient_box {
  display: flex;
  align-items: baseline;
  height: 30px;
  margin-bottom: 18px;
}

.select_ingredient {
  margin-left: 14px;
  padding: 1px 12px 2px;
  border-radius: 16px;
  font-weight: 500;
  background-color: var(--main_text);
  color: white;
  font-size: 14px;
}
.add_title h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}

.add_title h1 > span {
  font-weight: 700;
  color: var(--main_text);
}

.search_window > div {
  max-width: 100%;
  margin: auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.buttons > button {
  width: 100%;
  padding: 3px 0;
  border: 2px solid var(--main_button);
  background-color: white;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.buttons > button.active {
  background-color: var(--main_text);
  border: 2px solid var(--main_text);
  color: white;
}

.add_date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.add_date > p {
  font-size: 14px;
  width: 70px;
}

.add_date > div {
  flex: 1;
}

.add_date input,
.none {
  font-size: 14px;
  padding: 5px 0;
  text-align: center;
}

.datepicker {
  font-size: 14px;
  text-align: center;
}

.datepicker > div {
  padding: 0;
}

.datepicker fieldset,
.none {
  border-width: 0;
  border-radius: 10px;
  box-shadow: 0 0 6px var(--grey60);
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 35px auto;
}

.line p {
  display: inline-block;
  color: var(--grey60);
  font-size: 13px;
  width: 50px;
}

.line hr {
  display: block;
  background-color: var(--grey40);
  height: 1px;
  width: 100%;
  border: 0;
}
