/* * Refrigerator.js * */
.ingredient_box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(56px, 1fr));
  grid-gap: 35px 50px;
  place-items: center;
  padding: 5vh 12px 60px;
}

.wrapper {
  margin: 2vh;
  position: relative;
}

.category {
  margin: 0 1px;
}

.ingredient_add_button {
  position: fixed;
  right: calc((100% - 600px) / 2 + 30px);
  bottom: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;

  @media (max-width: 600px) {
    right: 30px;
  }
}

.ingredient_add_button > p {
  font-size: 13px;
  margin: 0;
  font-weight: 700;
}

/** RefrigeratorAdd.js **/
.refrigerator_add {
  width: 90%;
  margin: auto;
  padding: 2vh 0;
}
.add_title {
  padding: 30px 0;
}
.add_title > h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}

.add_title > h1 > span {
  font-weight: 700;
  color: var(--main_text);
}

.search_window > div {
  max-width: 100%;
  margin: auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.buttons > button {
  width: 100%;
  padding: 3px 0;
  border: 2px solid var(--main_button);
  background-color: white;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.buttons > button.active {
  background-color: var(--main_text);
  border: 2px solid var(--main_text);
  color: white;
}

.add_date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.add_date > p {
  font-size: 14px;
  width: 70px;
}

.add_date > div {
  flex: 1;
}

.add_date input,
.none {
  font-size: 14px;
  padding: 5px 0;
  text-align: center;
}

.datepicker {
  font-size: 14px;
  text-align: center;
}

.datepicker > div {
  padding: 0;
}

.datepicker fieldset,
.none {
  border-width: 0;
  border-radius: 10px;
  box-shadow: 0 0 6px var(--grey60);
}
