.search_box {
  max-width: 95%;
  margin: 0 20px;
  padding: 3vh 2vh 2vh;
  box-shadow: 0 0 7px var(--grey60);
  border-radius: 10px;
}

.search_window {
  position: relative;
}

.search_input {
  display: block;
  box-sizing: border-box;
  width: 90%;
  padding: 5px 42px 5px 10px;
  margin: auto;
  border: 0;
  border-bottom: 2px solid var(--grey60);
  font-size: 15px;
  font-weight: 500;
}

.search_input::placeholder {
  color: var(--grey60);
}

.search_input:focus {
  outline: none;
}

.magnifier {
  position: absolute;
  top: -5px;
  right: 22px;
  border: 0;
  background: transparent;
}
.category_button_list {
  padding: 15px 0;
  text-align: center;
}

.category_button {
  display: inline-block;
  width: fit-content;
  margin: 3px 6px;
  padding: 3px 10px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
}

.category_button.selected {
  background-color: var(--main_button);
  color: white;
}

/* main.module.css */
.material_list_container {
  max-height: 35vh;
  overflow-y: auto;
}
.material_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
