.shopping_basket_container {
  padding-top: 50px;

  width: 100%;
  height: 1;
  text-align: center;
  
  /* justify-content: flex-end; */
}

.basket_header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.basket_info {
  margin-bottom: 30px;
}

.ingredient_count {
  margin-right: 20px;
}
.item_button{
  display: flex;
  flex-direction: column;
}
.select_button {
  background-color: #ffafdf;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.shopping_list{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  padding-bottom:20px;
}
.basket_items {
  display: flex;
  flex-wrap: wrap;
  margin-right: 11px; 
  margin-bottom: 10px;
}

.basket_item {
  height: 70px;
  border: 1px solid #ccc;
  display: flex;
  margin: 10px;
  align-items: center;
  border-radius: 10px;
}

.item_image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 10px;
}

.item_name {
  display: block;

  margin: 5px;
  text-align: center;
}

.item_cancel {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.pinbutton{
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.pin {
  width: 23px;
  height: 23px;
  background-color: #fff;
  border: none;
  margin: 5px;
  cursor: pointer;

  
}


.cancel {
  width: 10px;
  height: 10px;
}


.add_button {
  background-color: #ffafdf;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex;
  
  /* align-items: center;
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  
  margin-bottom: 100px;
   */
}

.add {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
